---
layout: default
title: Home 
---

{% for post in site.posts limits: 10 %}
   <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
    <span class="post-date">{{ post.date | date: "%B %d, %Y" }}</span>
   {% if post.content.size > 1000 %}
      {{ post.content | strip_html | truncatewords: 100 }} 
      <a href="{{ post.url }}">read more</a>
   {% else %}
      {{ post.content }}
   {% endif %}

   <p>
{% endfor %}



{% if paginator.total_pages > 1 %}
	<div class="postnavigation">

		{% if paginator.previous_page %}
			{% if paginator.page == 2 %}
				<a class="prev left" href="/">&larr; Newer</a>
			{% else %}
				<a class="prev left" href="/page{{paginator.previous_page}}/">&larr; Newer</a>
			{% endif %}
		{% else %}
			<span class="nope left">&larr; Newer</span>
		{% endif %}

		<span class="pages">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>

		{% if paginator.next_page %}
			<a class="next right" href="/page{{paginator.next_page}}/">Older &rarr;</a>
		{% else %}
			<span class="nope right">Older &rarr;</span>
		{% endif %}

	</div>
{% endif %}